

div {
}

div#graph {
    border:2px solid blue;
    padding:1em;
    width:83%;
    height:500px;
    position:absolute;
}

div.catchall {
    background: lightblue;
    padding:0.25em;
    border: darkgrey;
}

div.node {
    background: grey;
    padding:0.2em;
    position: absolute;
    margin:2px;
    border:1px solid black;
}

div.desc { /* node description */
    font-family:monospace;
    width:8em;
}

div.desc table { 
    width:98%;
}

div.desc td {
    text-align:right;
}

div.x0 {
    left:0%;
}
div.x45 {
    left:45%;
}
div.x50 {
    left:50%;
}
div.x80 {
    left:80%;
}
div.x85 {
    left:85%;
}

div.y0 {
    top:0%;
}
div.y10 {
    top:10%;
}
div.y20 {
    top:20%;
}
div.y25 {
    top:25%;
}
div.y30 {
    top:30%;
}
div.y45 {
    top:45%;
}
div.y50 {
    top:50%;
}
div.y65 {
    top:65%;
}
div.y80 {
    top:80%;
}


